<div class="container">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav me-auto mb-4 mb-lg-0">
        <li class="nav-item nav-link fw-bold" routerLink="/arceus">Arceus</li>
        <li class="nav-item nav-link fw-bold" routerLink="/gengar">Gengar</li>
        <li class="nav-item nav-link fw-bold" routerLink="/greninja">Greninja</li>
        <li class="nav-item nav-link fw-bold" routerLink="/sceptile">Sceptile</li>
        <li class="nav-item nav-link fw-bold" routerLink="/umbreon">Umbreon</li>  
      </ul>
    </div>
    <router-outlet></router-outlet>
      
</div>